		html {
		  	scroll-behavior: smooth;
		}

		body {
			background-image: url('images/home3.jpg');
			background-repeat: no-repeat;
  			background-attachment: fixed;  
  			background-size: cover;
  			font-family: helvetica;
		}

		.header {
			height: 600px;
		}

		.header h1 {
			font-size: 260%;
			line-height: normal;
			letter-spacing: 10px;
			position: absolute;
  			top: 38%;
  			left: 35%;
  			color: white;
		}

		.header h3 {
			font-weight: lighter;
			font-size: 150%;
			letter-spacing: 10px;
			position: absolute;
  			top: 47%;
  			left: 46%;
  			color: white;
		}

		.btn {
			position: relative;
			bottom: 200px;
		}

		.btn a:link, a:visited {
			border: solid;
			border-color: white;
			border-radius: 8px;
		  	background-color: transparent;
		  	color: white;
			font-weight: lighter;
		  	letter-spacing: 2px;
		  	padding: 15px 34px;
		  	text-align: center;
		  	text-decoration: none;
		  	display: inline-block;
		  	font-size: 16px;
		  	margin: 4px 2px;
		  	cursor: pointer;
		}

		.btn a:hover, a:active {
		  	background-color: white;
		  	color: black;
		}

		#section1 {
			height: 750px;
		}

    	.about h2 {
			font-size: 260%;
			line-height: normal;
			letter-spacing: 10px;
  			color: white;
  		}

		.about img {
			height: 450px;
			width: 800px;
			border-width: 5px;
			border-style: solid;
			border-color: white;
			
		}

		.about p {
  			line-height: normal;
  			color: white;
  			text-indent: 50px;
  			text-align: justify;
  			font-size: 130%;
  			margin-left: 35px;
  			margin-right: 35px;
  		}

		#section2 {
			height: 1680px;
		}

		.port h2 {
			font-size: 260%;
			line-height: normal;
			letter-spacing: 10px;
  			color: white;
		}

		hr.artport {
			border: .5px solid white;
		}

		* {
		  	box-sizing: border-box;
		}

		.column {
		  	float: left;
		  	width: 33.33%;
		  	padding: 5px;
		}

		.column img {
			border-radius: 5%;
			width: 100%;
		}

		.row::after {
		  	content: "";
		  	clear: both;
		  	display: table;
		}

		footer {
			background-color: #FF5733;
			padding: 2px;
		}

		p {
			color: white;
			letter-spacing: 1px;
		}

		.fa {
			border: 3px solid;
			border-radius: 50%;
		  	padding: 13px;
		  	font-size: 30px;
		  	width: 48px;
		  	text-align: center;
		  	text-decoration: none;
		  	margin: 5px 2px;
		}

		.fa:hover {
		    background-color: white;
		    color: black;
		}

		.fa-facebook {
		  	color: white;
		}

		.fa-instagram {
		  	color: white;
		}